body {
    display: flex;
    background-color: bisque;
    align-items: center;
    flex-direction: column;
}

#calculatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-style: solid;
    height: 600px;
    width: 500px;
    background-color: grey;
}

#calculatorBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-style: solid;
    height: 585px;
    width: 485px;
    background-color: whitesmoke;
}

#topButton {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    height: 50px;
    width: 450px;

}

#calculatorResult {
    margin-top: 10px;
    border: 2px;
    border-style: solid;
    height: 50px;
    width: 450px;
    border-radius: 15px;
    background-color: rgb(167, 166, 166);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#total{
    display:flex;
    height:50px;
    width:100px;
    justify-items: center;
    align-items: center;
}

#resetButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-style: solid;
    height: 40px;
    width: 100px;
    background-color: red;
    font-size: larger;
    border-radius: 15px;
}

#resetButton:hover {
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#deleteButton {
    border: 2px;
    border-style: solid;
    height: 40px;
    width: 100px;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#deleteButton:hover {
    background-color: grey;
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#calculatorButton {
    display: flex;
    width: 485px;
    height: 450px;
}

#numberButton {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    margin: 16px;
}

#sideButton {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 350px;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right: 16px;

}



#number0 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number0:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number1 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number1:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number2 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number2:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number3 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number3:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number4 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number4:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number5 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number5:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number6 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number6:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number7 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number7:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number8 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number8:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#number9 {
    border: 2px;
    border-style: solid;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-basis: 25%;
    margin: 2px;
}

#number9:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}


#addButton {
    border: 2px;
    border-style: solid;
    height: 40px;
    width: 100px;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#addButton:hover {
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#substractButton {
    border: 2px;
    border-style: solid;
    height: 40px;
    width: 100px;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#substractButton:hover {
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#multiplyButton {
    border: 2px;
    border-style: solid;
    height: 40px;
    width: 100px;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#multiplyButton:hover {
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#diviseButton {
    border: 2px;
    border-style: solid;
    height: 40px;
    width: 100px;
    background-color: grey;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#diviseButton:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}

#bottomButton {
    display: flex;

}

#equalButton {
    border: 2px;
    border-style: solid;
    height: 40px;
    width: 100px;
    background-color: green;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

#equalButton:hover{
    opacity: 0.5;
    transition: all 0.4s ease 0s;
}